@font-face {
  font-family:'fontawesome';
  src:url('images/fontawesome/fontawesome-webfont.eot') format('eot'),
      url('images/fontawesome/fontawesome-webfont.svg') format('svg'),
      url('images/fontawesome/fontawesome-webfont.ttf') format('truetype'),
      url('images/fontawesome/fontawesome-webfont.woff') format('woff'),
      url('images/fontawesome/FontAwesome.otf') format('opentype');
}

@font-face {
  font-family: 'minimal';
  src: url('images/minimal.otf') format('otf')
}

body {
	margin: 0;
	padding: 0;
	font-family: minimal, Arial, sans-serif;
	background-color: #f5f5f5;
}

header{
	width: 100%;
	max-width: 100%;
	border-bottom: 5px solid #499CE2;
	background-color:#fff;
	height: 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 10%;
}

header img {
  width:20%;
  height:auto;
}


#image {
  align-items: center;

}
#photo {
  margin-left:-40px;
  width: 100%;
  height:100%;
  position:absolute;

}
figcaption {
  position:relative;
  color:white;
  right:0;
  width: 30%;
  height:120px;
  margin-left:auto;
  margin-right:auto;
  padding-top:250px;
  font-size:20px;
  text-align: center;

}

figcaption > h1 {
  background-color:rgba(255,255,255,0.7);
  color:#499CE2;
}

figcaption > p {
  background-color:rgba(255,255,255,0.7);
  color:#0000FF;
}

/* Fleches Slider */


#controle .controle {
  margin-top:250px;
  position:absolute;
  z-index:100;
  background-color:rgba(0,0,0,0.5);
  width: 30px;
  height:60px;
  border: 1px solid transparent;
  font-family:fontawesome;
}
#controle .fleche-gauche{

  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;

}
#controle .fleche-droite{
  right:0;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}

#controle .pause {
  margin-top:478px;
  width:45px;
  height:20px;
  margin-left: 48%;
  background-color:rgba(255,255,255,0.8)
}

#controle .pause::after {
  margin-left:15px;
  content:"\f04c";
  color:black;
  font-size:15px;
}
#controle .fleche-droite::after {
  padding-left:9px;
  position: absolute;
  margin-top:18px;
  content:"\f061";
  color:white;
  font-size:20px;
}
#controle .fleche-gauche::after {
  padding-left: 6px;
  position:absolute;
  margin-top:18px;
  content:"\f060";
  color:white;
  font-size:20px;

}



/* APPLICATION*/
.flex div {
	margin-left: 2%;
	margin: 1% 2%;
}

.flex div h1 {
	margin: 0;
	font-size: 2.75em;
}

.flex div strong {
	font-size: 1.75em;
}
.app_map {
	margin-top: 10%;
  position:relative;
}
.app_map article {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.app_map article #map{
	width: 100%;
	height: 700px;
	background-color: #ccc;
}

.app_map article #reservation {
	position: absolute;
	right: -100%;
	top: 0;
	bottom: 0;
	width: 21%;
	min-width: 390px;
	background-color:#fff;
	box-shadow: -1px 0px 5px #969696;
	z-index: 2;
}

#reservation h2 {
	background-color: #1B64A2;
	padding: 2% 2% 2% 7%;
	margin: 0%;
	text-align: center;
	color: #fff;
}


#address {
	text-align: center;
	margin: 0;
	padding: 4% 0%;
	border-bottom: 1px solid #d0d0d0;
}

.info, .info div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}


.info {
  width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	color: #1B64A2;
}

.info div p {
	margin: 0px 19px;
	font-size: 20px;
	font-weight: 600;
	color: #000;
}


form {
	margin-top: 40px;
}

#signature {
  width:380;
  height:200;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 0 auto;
	display: block;
}



input[type="button"],input[type="submit"]{
	border: none;
	box-sizing: border-box;
	padding: 6px;
	margin: 20px 15px;
	width: 100px;
	background-color: #1B64A2;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

input[type="text"] {
	width: 200px;
	padding: 5px 0px 5px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 1px #adadad inset;

}

label {
	width: 88px;
	display: inline-block;
	margin: 10px 0px 10px 25px;
}

footer {
	border-top: 5px solid #175991;
    padding: 3% 0%;
    text-align: center;
}

footer div {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #ccc;
	background-color: #fff;
	display:none;
}

footer h2 {
    background-color: #175991;
    padding: 8px;
    color: #fff;
    margin: 0;
}
@media all and (max-device-width:768px){
  figcaption {
    width:70%;
  }
  #photo {
    width:100%;
    height:470px;
  }
  #controle .pause {
    margin-top:445px;
  }
  .app_map article #reservation {
    width:100%;
  }
  form {
    width:40%;
    margin-left:auto;
    margin-right:auto;
  }

}

@media all and (max-width:768px){
  figcaption {
    width:70%;
  }
  #photo {
    width:100%;
    height:470px;
  }
  #controle .pause {
    margin-top:445px;
  }
  .app_map article #reservation {
    width:100%;
  }
  form {
    width:40%;
    margin-left:auto;
    margin-right:auto;
  }
}
